html {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(32, 32, 32);


}
h1 {
    
    font-size: 50px;
}
h2{
    font-size: 30px;
}

img {
    width: auto;
    height: 500px;
}

.optional {
    color: gray;
}

p, li{
    font-size: 20px;
}